header { margin-top: 96px; margin-bottom: 0 }
h1 { font-size: 24pt }
.subtitle { color: #999 }
.white .subtitle { color: #666 }
h2 { color: #999 }
.white h2 { color: #444 }

header, section {
    display: block
}

header, section {
    padding: 0 32px;
}

section {
    margin: 16px 32px;
    border-radius: 3px;
    background: #030303;
    border: 1px solid #030303;
}

.white section { background: #f9f9f9; border-color: #f9f9f9 }

/* --- */


#observables {
    min-height: 340px;
}

.observable-list {
    margin: 12px 0;
    display: flex;
    flex-wrap: wrap }
.observable {
    overflow: hidden;
    font-family: 'Nova Square';
    font-size: 12pt;
    margin: 10px;
    width: 220px;
    height: 230px;
    background: #2f4228;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 3px solid #36672a;
    transition: border-radius 3s;
    border-radius: 4px;
}
.white .observable { background: #d4ffd4; border-color: #8d8 }

.observable.unhealthy {
    border-color: #6d1717;
    background: #350c0c;
    border-radius: 0;
}

.white .observable.unhealthy { background: #e69595; border-color: #a88 }

/* --- */
#coms p { color: #ddd; }
.white #coms p { color: #111; }
#coms .hl { color: #f99; }
.white #coms .hl { color: #900; }

/* --- */

.log-observable .line { border-bottom: 1px solid orange; }
.log-attack .line { border-bottom: 1px solid red; }
.log-deploy .line { border-bottom: 1px solid green; }
.log-ask .line { border-bottom: 1px solid blue; }
.log-see .line { border-bottom: 1px solid brown; }

/* --- */
.split { display: flex }
.split .column { flex-grow: 1 }
.split .column-smol { flex-grow: 0; width: 600px }

/* --- */
.arc text { fill: #444 }
.white .arc text { fill: #ccc }
.arc.active text { fill: white }
.white .arc.active text { fill: black }
.arc path { fill: #333; transition: fill 0s; }
.white .arc path { fill: #eee; transition: fill 0s; }
.arc.active path { fill: #333; transition: fill 0.7s; }
.white .arc.active path { fill: #ccc; transition: fill 0.7s; }
.arc.active.detect path   { fill: hsl(200, 50%, 50%); }
.arc.active.analyze path { fill: hsl(270, 50%, 50%); }
.arc.active.decide path  { fill: hsl( 50, 50%, 50%); }
.arc.active.respond path { fill: #990000 }
.arc.active.learn path { fill: hsl(100, 50%, 50%); }
