html {
    background: #19191f;
}

html, body {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
}

html.white { background: #fff }
html.white, .white body { color: #000 }

/* Don't mess up font */
h1, h2, h3 { font-weight: normal }

html.nopad, html.nopad body {
    margin: 0;
    padding: 0;
    overflow: hidden
}

/* Logo/title overlay */
#sarnet-bar {
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    top: 0;
    left: 0;
    background: #000;
    box-sizing: border-box;
    padding: 5px 20px;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center
}

#sarnet-bar > div { flex: 1 auto }
#sarnet-bar .right { text-align: right }
