* {user-select: none}

html {
    background: #010201;
    background: #19191f;
/*    background: linear-gradient(to bottom,
        hsl(190, 98%, 91%) 0%,
        hsl(220, 98%, 93%) 100%)
        fixed;
    background: linear-gradient(to bottom,
        hsl(307, 52%, 15%) 0%,
        hsl(280, 60%, 17%) 100%)
        fixed;*/
    /*background-image: url(../../../noise.png);*/
}
html, body {
    color: #000;
    font-family: 'Source Sans Pro', monospace;
    font-size: 12px;
}

/** Button {{{ **/
button {
    font-size: 11pt;
    border: none;
    background: #ddd;
    font-family: sans-serif;
    padding: 0.6em 1.2em;
    box-sizing: border-box;
    border-radius: 2%;
    color: #283657;
}
button.active {
    background: #926e6e;
    background: #3a4e7d;
    color: #fff
}
button:hover { cursor: pointer }
button:focus { outline: none }
#layer-box button,
#sarnet-controls button {
    margin: 4px;
    display: inline-block;
}

#layer-box button { padding: 6px 12px; }
#sarnet-controls button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    padding: 0;
}

/** }} **/

#here, #topology {
    white-space: pre-wrap;
}

html.nopad, html.nopad body {
    margin: 0;
    padding: 0;
    overflow: hidden
}

/**/
.shadow-box {
    z-index: 500;
    background: #2a2a31;
    color: #fff;
    font-size: 12pt;
    padding: 0.7em 1.4em;
    border: 2px solid #304a6b;
    --shadow-box-glow: #2b323a;
    box-shadow: inset 2px 2px 2px 0 var(--shadow-box-glow),
        inset -2px -2px 2px 0 var(--shadow-box-glow),
        2px 2px 2px 0 var(--shadow-box-glow),
        -2px -2px 2px 0 var(--shadow-box-glow);
    outline: 1px solid #111;
}

#modal-box {
    margin: 20px;
}

.columns { display: flex; }

/**/

#sarnet-bar {
    z-index: 100;
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    color: #FFF;
    box-sizing: border-box;
    padding: 5px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 4px rgba(0,0,0,0.1);
}
#sarnet-bar > div { flex: 1 auto }
#sarnet-bar .right { text-align: right }

#top-bar .columns { padding: 20px; justify-content: space-between }
#top-bar .columns > div { display: flex; align-items: center }

#layer-box { position: absolute; right: 25px; bottom: 25px; }
#sarnet-controls-box { position: absolute; left: 25px; top: 70px; z-index: 100; }
#attack-bar { position: absolute; left: 50%; top: 70px; transform: translate(-50%, 0)}
#results { margin-top: 25px; }


/**/

#attack-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* ISO */
#flag-box {
    position: absolute;
    top: 0;
    background: #ffffff;
    color: #4d73b5;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    padding: 3px 4px;
    font: 11px sans-serif;
}
#modal-box {
    margin: 0;
    padding: 0;
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 1px;
    font-size: 13px;
    min-width: 300px;
}
#modal-box .name { font-family: 'Nova Square'; }
#modal-box div {
    margin: 10px 5px;
    padding: 3px 6px;
}
#modal-box .fake-button {
    background: #eee;
    color: black;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.4s, color 0.3s;
}
#modal-box .fake-button:hover {
    background: #111;
    color: white;
}

svg .shape {
    fill: none;
    /*stroke: hsl(100, 66%, 50%);*/
    stroke-width: 1;
}

/***/

.line-grid line { stroke: #f0f0f0; stroke-width: 0.7; }
.outlines path { stroke-width: 0 }

.cell { --a: 1 }
/*
.cell { stroke-width: 0; }
.cell { stroke: none; fill: none; } */ /* 242424 */

/*
.layer-bg.col-local    .cell-local,
.layer-bg.col-upstream .cell-upstream,
.layer-bg.col-alliance .cell-alliance {
    stroke: #252725;
    fill: royalblue } */

.layer-boxes .cell { stroke-width: 0.02; fill: #fff; stroke: #aaa; }
.layer-boxes .side { fill: #888; stroke: none }
.layer-boxes text { fill: #999; stroke: none }

.layer-bg.col-local    .cell-local,
.layer-bg.col-upstream .cell-upstream,
.layer-bg.col-alliance .cell-alliance {
    stroke-width: 2;
}


@keyframes stroke-pulse-red   { from { stroke-width: 1.5; } to { stroke-width: 1.5; stroke: red } }
@keyframes stroke-pulse-green { from { stroke-width: 1.5; stroke: #ccffcc } to { stroke-width: 1.5; stroke: #00cc00 } }

.router-box {
    stroke-width: 0.3;
    /*stroke: #444; fill: #222; */
    stroke: #666; fill: #d9ded9;
}


/***/
@keyframes dashy {
    100% { stroke-dashoffset: 300 }
}


.layer-flow path {
    /*opacity: 0.6;*/
    fill: none;
    /*filter: url(#glow);*/
    animation-fill-mode: forwards;
    animation: dashy 3s linear infinite;
}

.link-traffic-rx,
.link-traffic-tx {
    fill: none;
    /*filter: url(#glow);*/
    stroke-width: 0.5;
    stroke: #999;
    /*stroke: #143174;*/
    stroke-dasharray: 100 2;
}

/**/
.node {
    color: white;
    /*overflow: hidden;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: auto;
    padding: 10px;
    width: 96px;
    height: 64px;
}
.node.unhealthy { box-shadow: 0 4px 0 #9e5622; }

.show-hl .node.highlight {
    border-top: 3px solid transparent;
border-bottom: 3px solid #2f942f }

.highlight .cell { stroke: #2f942f; stroke-width: 0.08; stroke-dasharray: 0.5 0.05 }

/** anim **/
/*.node, .box-holder {
    transition: transform 1s ease-in-out;
}*/

@-webkit-keyframes ah-lift { 50% { margin-left: 0px; margin-top: -8px } }
@-webkit-keyframes as-lift { 50% { transform: translate(0, -8px) } }

@-webkit-keyframes ah-vibrate {
    10% { margin-left: -4px } 20% { margin-left: 4px }
    30% { margin-left: -4px } 40% { margin-left: 4px }
    80% { margin-left: 0 }
}
@-webkit-keyframes as-vibrate {
    10% { transform: translate(-4px, 0) } 20% { transform: translate(4px, 0) }
    30% { transform: translate(-4px, 0) } 40% { transform: translate(4px, 0) }
    80% { transform: translate(0, 0) }
}

/**/
#results th { text-align: left }

/**/
.panel-disabled #attack-overlay { display: none }
#attack-ui-toggle { padding: 0; width: 32px; height: 32px; border-radius: 50% }
#attack-overlay > div {
    margin-bottom: 10px }
#attack-overlay .button-bar button + button { margin-left: 3px }

#link-modal {
    /*display: none;*/
    white-space: pre-wrap;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 24px;
    transform: translate(-50%, -50%);
    opacity: 0.9
}

#important {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 24px;
    transform: translate(-50%, -50%);
    opacity: 0.9
}

/***/
#topology { overflow: hidden }
html.white { background: #fff; }
/*.white #topology { filter: invert(100%) }*/
.white .shadow-box {
    background: #fff;
    color: #2a2a31;
    --shadow-box-glow-white: #efefff;
    box-shadow: inset 2px 2px 2px 0 var(--shadow-box-glow-white),
        inset -2px -2px 2px 0 var(--shadow-box-glow-white),
        2px 2px 2px 0 var(--shadow-box-glow-white),
        -2px -2px 2px 0 var(--shadow-box-glow-white);
    border-color: #f9f9f9;
    outline-color: #efefff;
}

/**/
.layer-status img {
    background: white;
    border: 3px solid silver;
    border-radius: 50%;
    padding: 3px;
    width: 32px;
    height: 32px;
}
/* --- */
.house-wall { stroke: #999; fill: #fff2f2 }
.house-roof { stroke: #999; fill: #f1c1c1 }
.shipping-container { stroke: #999; fill: #f3b29d }
.shop-wall { stroke: #999; fill: #f2f2ff }
.shop-roof { stroke: #999; fill: #f1c1c1 }
.surf-tower { stroke: #858585; fill: #ffd485 }
.surf-wall { stroke: #858585; fill: #f9f9f9 }
.ciena-floor { stroke: #858585; fill: #d31924 }
.ciena-top { stroke: #858585; fill: #eee }

@media (min-width: 2000px) {
    .shadow-box {
        font-size: 22pt;
    }
    button {
        font-size: 21pt;
    }
}

