html, body {
    /*width: 100%;*/
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-size: 11pt;
    background-color: #000;
    color: #fff;
    background-image: url(grid.png);
}

body, button {
    font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3 {
    font-weight: normal }

svg {
    display: block;
    margin: 0 auto }

.hidden { display: none !important }

hr {
    border: 0;
    border-top: 1px solid #333;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hflex {
    display: flex;
    flex-direction: row }

.align-end { align-items: flex-end }
.align-center { align-items: center }

th, td {
    padding: 0.4em 0.9em;
    text-align: left;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    background: #333;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 3px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 2px solid #000000;
    height: 24px;
    margin-top: 0;
    width: 16px;
    border-radius: 3px;
    background: gold;
    cursor: pointer;
    -webkit-appearance: none;
}

/* Page layout
 */
#ui {
    height: 100%
}
.layout-hflex {
    display: flex;
    flex-direction: row;
}
.layout-full-height {
    height: 100%;
}
.layout-vflex {
    display: flex;
    flex-direction: column;
}
.area-grow { flex: 1 0 }

/**
 */
button {
    cursor: pointer;
    background: #025;
    color: #FFF;
    font-size: 11pt;

    transition: background 0.4s;

    border: 0;
    border-radius: 3px;
    padding: 6px 12px;
    outline: 0;
    user-select: none;
}

button:active {
    background: #009;
}

button.selected {
    background: #009;
}


/**
 * Logos
 */
#logos {
    position: absolute;
    background: #000;
    cursor: pointer;
    font-size: 12px;
    color: #999;

    left: 50%;
    width: 600px;
    padding: 64px;
    margin-left: -354px;

    top: 50%;
    margin-top: -220px;
    border: 3px solid #111;
    border-radius: 3px;
    text-align: center;
}
#logos p { margin: 0 0 8px 0; }
#logos img { display: inline-block; margin: 16px; }
#logos .hold-me + p { margin-top: 64px; }


/** Top-left menu buttons
 */
.o-top-left {
    top: 8px;
    left: 0px; }

.o-top-left button {
    background: #222;
    color: #CCC;
    border: 0px solid black;
}

.o-top-left button:active,
.o-top-left button.tool-selected {
    background: #333;
}


.toolbox-row {
    display: inline-block;
    /*padding: 6px 12px;*
    margin-bottom: 16px*/ }
.toolbox-row button { margin: 0 8px; }


/**
 */
/*.select-tools-info h3:before {
    content: "• ";
    color: gold;
}*/

.o-bottom-left button.layer-selected {
    background: #009;
}

/*
 */
#scenario-label {
    font-size: 16px;
    color: #ddd;
    text-align: center;
    height: 32px;
}

#scenario-timer {
    font: 24px 'Droid Sans Mono',monospace;
    color: #ccc;
    text-align: center;
}

#scenario-buttons {
    text-align: center;
    height: 60px;
    color: #999;
}

#scenario-buttons button {
    color: #FFF;
    width: 100px;
    text-align: center;
}

#scenario-buttons button:disabled {
    background: #222;
}

/*
 */
.attack-tools {
    padding: 1em 1.5em;
    width: 35em;
}
#attack-origin {
    color: #9df;
    color: #f9d;
    font-size: 0.9em;
}

#attack-btns button {
    background: hsl(349, 50%, 30%)
}
#attack-btns button:active, #attack-btns button.selected {
    background: hsl(349, 50%, 50%)
}
#attack-btns button[data-attack=none] {
    background: hsl(149, 50%, 30%)
}
#attack-btns button[data-attack=none]:active,
#attack-btns button[data-attack=none].selected {
    background: hsl(149, 50%, 50%)
}

#task-list h2 { display: inline-block; font-size: 120%; margin: 4px 8px; }
.task-list .btn {
    display: inline-block;
    font-size: 90%;
    background: #444;
    padding: 3px 6px;
    cursor: pointer;
}


/**
 * Status label
 */
#status-label {
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    color: #888;
    padding: 10px;
    font-size: 11px;
}
#error-label {
    position: absolute;
    box-sizing: border-box;
    width: 400px;
    margin-left: -20px;
    top: 50px;
    left: 50%;
    background: #422;
    color: #F9F9F9;
    padding: 10px 20px;
}


/**
 * Left infobar
 */
#bar-left {
    box-sizing: border-box;
    background: #000;
    color: #FFF;

    background-repeat: no-repeat;
    background-position: 33% 99%;
    transition: background-image 0.3s ease-in-out;
    -webkit-transition: background-image 0.3s ease-in-out;

    padding: 0 1.5em;
    width: 25em;
}


/**
 * Sidebar
 */

.ui-block {
    padding-left: 1vw;
}

#btn-sidebar-collapse,
#btn-sidebar-expand {
    box-sizing: border-box;
    color: #555;
    padding: 16px;
    font-variant: small-caps;
    text-align: right;
}

#btn-sidebar-expand {
    position: absolute;
    top: 0;
    right: 0;
    background: #222;
    color: #CCC;
    border-radius: 0 0 0 10px;
}

#control-bar {
    box-sizing: border-box;
    background: #000;
    border-left: 3px solid #111;
    color: #FFF;
    height: 400px;
}

#sidebar-content { width: 500px; }
#select-tools { flex: 1 0 }


#select-tools,
#sidebar-content {
    word-wrap: break-word }

/*#select-tools { background: #111; }
#sidebar-content { background: #111; }*/


.logo {
    margin: 24px 0 16px 0;
}
.bar-content {
    padding-top: 1vh;
}

.btn-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 14pt }

.metadata dt, .metadata dd {
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.metadata dt {
    display: block;
    float: left;
    width: 10em;
    padding-right: 16px;
    overflow: hidden;
    text-align: right;
    word-wrap: normal;
    color: #0cf;
    font-variant: small-caps;
}
.metadata dd:after {
    clear: left;
    display: block;
    content: "";
    height: 0;
}
.metadata dd {
    display: block;
    margin-left: 10em;
}


/* === Graph =============================================================== */

text {
    font: 11px 'Droid Sans',sans-serif;
    fill: #999;
}

.tline text {
    fill: #777;
    font-size: 13px;
    font-weight: 120;
}

.node-label {
    fill: rgba(3,3,3,0.4);
}
.node-label text {
    font: 11px 'Droid Sans Mono',monospace;
    fill: #AAA;
}

.node-shape {
    stroke: #999;
    stroke-width: 1px;
    transition: fill 0.6s, stroke-width 0.5s, stroke 0.5s;
}
.node-shape.fixed {
    stroke: #fff;
    stroke-width: 2px;
}
.related .node-shape {
    stroke: #888;
    stroke-width: 2px;
}
.selected .node-shape {
    stroke: #ddd;
    stroke-width: 2.5px;
}


/* Links
 */

/* Helper to make the clickable area for links bigger (be careful with overlap)
 */
.link-click {
    stroke: transparent;
    stroke-width: 26px;
}

.link23948 {
    stroke: #124782;
    stroke: #666677;
    stroke-width: 4px;

    /*animation: link-anim 1s linear infinite alternate;
    -webkit-animation: link-anim 1s linear infinite alternate;*/
}

svg g:nth-of-type(4n+2) .link {
    animation-delay: -0.75s;
    -webkit-animation-delay: -0.75s;
}
svg g:nth-of-type(4n+1) .link {
    animation-delay: -0.25s;
    -webkit-animation-delay: -0.25s;
}
svg g:nth-of-type(4n+0) .link {
    animation-delay: -0.50s;
    -webkit-animation-delay: -0.50s;
}

.link.related, .related .link {
    stroke: #940;
    animation: none;
}

.related .link-hl {
    stroke: rgba(90,40,0,0.5);
    stroke-width: 20px;
    stroke-linecap: round;
}

.selected .link-hl {
    stroke: hsl(40, 30%, 8%);
    stroke-width: 20px;
    stroke-linecap: round;
}

.link-traffic-rx,
.link-traffic-tx {
    /*stroke: #556;*/
    stroke: #333;
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 98 2;
    animation: dashy 30s linear infinite;
    -webkit-animation: dashy 30s linear infinite;
    transition: stroke-width 3s, stroke 3s;
}
.link-traffic-rx {
    stroke-dashoffset: 2000;
}

[data-traffic-tx="zero"] .link-traffic-tx,
[data-traffic-rx="zero"] .link-traffic-rx {
    stroke-width: 1.4px;
    stroke-dasharray: 0;
    animation: none;
    -webkit-animation: none;
}

[data-traffic-tx="off"] .link-traffic-tx,
[data-traffic-rx="off"] .link-traffic-rx {
    stroke: #733;
    stroke-width: 1.4px;
    stroke-dasharray: 9 1;
    animation: none;
    -webkit-animation: none;
}

[data-traffic-tx="low"] .link-traffic-tx,
[data-traffic-rx="low"] .link-traffic-rx {
    /*stroke: #667;*/
}
[data-traffic-tx="medium"] .link-traffic-tx,
[data-traffic-rx="medium"] .link-traffic-rx {
    /*stroke: #054;*/
    stroke-dasharray: 48 2;
}
[data-traffic-tx="high"] .link-traffic-tx,
[data-traffic-rx="high"] .link-traffic-rx {
    /*stroke: #c90;*/
    stroke-dasharray: 38 2;
}
[data-traffic-tx="very-high"] .link-traffic-tx,
[data-traffic-rx="very-high"] .link-traffic-rx {
    /*stroke: pink;*/
    stroke-dasharray: 18 2;
}




/*@keyframes link-anim {
    0%   { stroke: #125782; }
    100% { stroke: #122762; }
}*/

@keyframes dashy {
    100% { stroke-dashoffset: 1000 }
}

/*@-webkit-keyframes link-anim {
    0%   { stroke: #125782; }
    100% { stroke: #122762; }
}*/

@-webkit-keyframes dashy {
    100% { stroke-dashoffset: 1000 }
}

.graph-hidden { display: none; }
.graph-hidden line {
    animation-play-state: paused !important;
    -webkit-animation-play-state: paused !important;
}


/**
 * Tool dialog
 */
#select-tools { padding: 0 }
button#select-tools-toggle { background: #226; }

.select-tools-list {
    /*border-left: 3px solid #650;*/
    background: #111;
    display: none;
}
.select-tools-list button {
    margin: 0 6px 0 0;
    border-radius: 0;
    padding: 6px 16px;
    background: #222;
}
.select-tools-list button:active { background: #333 }

.select-tools-dialog button { background: #224; }
.select-tools-dialog button:active { background: #226; }
.select-tools-info { padding: 0 12px }
.select-tools-dialog {
    margin-top: 12px;
    font-size: 13pt;
    /*border-radius: 4px;*/
    padding: 0px 0px;
}
.select-tools-dialog .dialog-desc,
.select-tools-dialog .dialog-footer,
.select-tools-dialog .dialog-dyn { padding: 6px 16px; font-size: 16px }

.select-tools-dialog select {
    min-width: 100px;
    border: 1px solid #333;
    background: #000;
    color: #EEE;
}
.enum-list { padding: 6px 0 }
.enum-option {transition: background 0.5s; padding: 5px 16px; background: #222}
.enum-option + .enum-option {
    border-top: 1px solid #111
}
.enum-option:active,
.enum-option.enum-option-selected {
    background: #337;}

/*
 * Orchestration
 */
#ui-orchestrate {
    height: 100%;
}
#compose-menu {
    box-sizing: border-box;
    height: 100%;
    background: #000;
    border-right: 2px solid #111;
    width: 400px;
    float: left;
}

#compose-menu h2,
#compose-menu h3 {
    padding: 0 16px;
}

#compose-menu .builder-buttons {
    padding: 16px;
}

#ui-orchestrate .compose-area {
    margin-left: 400px;
}


/***
 * Node property styling
 */
g[data-group="as500"]          .node-shape { fill: hsl(250, 10%, 40%); }
g[data-group="as500"].selected .node-shape { fill: hsl(250, 10%, 65%); }
g[data-group="as200"]          .node-shape { fill: hsl(50, 70%, 40%); }
g[data-group="as200"].selected .node-shape { fill: hsl(50, 70%, 65%); }
g[data-group="as300"]          .node-shape { fill: hsl(100, 70%, 40%); }
g[data-group="as300"].selected .node-shape { fill: hsl(100, 70%, 65%); }
g[data-group="as100"]          .node-shape { fill: hsl(200, 70%, 40%); }
g[data-group="as100"].selected .node-shape { fill: hsl(200, 70%, 65%); }
g[data-group="as400"]          .node-shape { fill: hsl(260, 70%, 40%); }
g[data-group="as400"].selected .node-shape { fill: hsl(260, 70%, 65%); }

g[data-qos] .node-shape {
    stroke-width: 2.5px;
}

g[data-qos="bad"]  .node-shape { stroke: hsl(  0, 100%, 50%); }
g[data-qos="poor"] .node-shape { stroke: hsl( 40, 100%, 50%); }
g[data-qos="ok"]   .node-shape { stroke: hsl( 80, 100%, 50%); }
g[data-qos="good"] .node-shape { stroke: hsl(120, 100%, 50%); }

/* Keyboard input
 */
.keyb-row {
    text-align: center;
    padding: 2px 0;
}
.keyb-btn {
    font-family: 'Droid Sans Mono',monospace;
    font-size: 16px;
    background: #111;
    border: 1px solid #222;
    color: #FFF;
    display: inline-block;
    padding: 4px;
    text-align: center;
    min-width: 20px;
    cursor: pointer;
}
.keyb-btn:hover, .keyb-btn:active {
    background: #222;
}

