/** Author: Ben de Graaff */
body {
    font-family: sans-serif;
    font-size: 13pt;
    margin: 1.5em 1.5em;
    padding: 0 2em }

@media screen {
    body {
        max-width: 900px;
        font-family: Helvetica,Arial,LiberationSans,FreeSans,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    }
}

/*p { text-align: justify }*/

.literal, .literal-block {
    background: #F3F3F3 }

.section {
    margin: 2.5em 0 }

.footnote {
    background: #F3FFFF;
    border: 1px solid #999 }


.wide-table { width: 100%; }
thead { background-color: #F9F9F9; }
th { text-align: left; }
caption, th, td { padding: 0.4em 1.3em; }

h1, h2, h3, h4 {
    font-weight: 110;
    margin-top: 3em;
    margin-bottom: 1.5em;
    color: #333 }

h1 { font-size: 150%; color: #111; border-bottom: 1px solid #999; }
h1.title {
  text-align: center;
  border: none }

h2 { font-size: 115%; }
h2.author {
    font-size: 100%;
    font-weight: normal;
    text-align: center }

.author + .author {
    margin-top: 0; }

a, a:visited { color: #003366; text-decoration: none }
a:hover, a:active { color: #004499 }

h2 a, h2 a:hover { color: inherit; }

pre {
    padding: 1em;
    background: #F6F6F6;
    box-shadow: 3px 3px #DDD;
}

/*
:Author: David Goodger (goodger@python.org)
:Id: $Id: html4css1.css 7614 2013-02-21 15:55:51Z milde $
:Copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the HTML output of Docutils.

See http://docutils.sf.net/docs/howto/html-stylesheets.html for how to
customize this style sheet.
*/

/* used to remove borders from tables and images */
.borderless, table.borderless td, table.borderless th { border: 0 }

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

/*.first {*/
  /* Override more specific margin styles with "! important". */
  /*margin-top: 0 ! important }*/

/*.last, .with-subtitle {
  margin-bottom: 0 ! important }

.hidden {
  display: none }

a.toc-backref {
  text-decoration: none ;
  color: black }

blockquote.epigraph {
  margin: 2em 5em ; }

dl.docutils dd {
  margin-bottom: 0.5em }

object[type="image/svg+xml"], object[type="application/x-shockwave-flash"] {
  overflow: hidden;
}
*/
dl.docutils dt {
  font-weight: bold }
dl.docutils dd {
  margin-top: 4px;
  margin-bottom: 8px; }
/*
.abstract {
  margin: 2em 5em }

.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

.admonition, .attention, .caution, .danger, .error,
.hint, .important, .note, .tip, .warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

.admonition p.admonition-title, .hint p.admonition-title,
.important p.admonition-title, .note p.admonition-title,
.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

.attention p.admonition-title, .caution p.admonition-title,
.danger p.admonition-title, .error p.admonition-title,
.warning p.admonition-title, .code .error {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

.figure {
  margin-left: 2em ;
  margin-right: 2em }

.footer, .header {
  clear: both;
  font-size: smaller }

.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

.line-block .line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

.sidebar {
  margin: 0 0 0.5em 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }

.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

.system-messages {
  margin: 5em }

.system-messages h1 {
  color: red }

.system-message {
  border: medium outset ;
  padding: 1em }

.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

.topic {
  margin: 2em }

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em }


h2.subtitle {
  text-align: center }

hr.docutils {
  width: 75% }

img.align-left, .figure.align-left, object.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }
*/
/* reset inner alignment in figures */
/*.align-right {
  text-align: inherit }
*/
/* .align-center * { */
/*   text-align: left } */
/*
ol.simple, ul.simple {
  margin-bottom: 1em }

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p.attribution {
  text-align: right ;
  margin-left: 50% }

p.caption {
  font-style: italic }

p.credits {
  font-style: italic ;
  font-size: smaller }

p.label {
  white-space: nowrap }

p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center }

p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger }

p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold }

p.topic-title {
  font-weight: bold }

pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font: inherit }

pre.literal-block, pre.doctest-block, pre.math, pre.code {
  margin-left: 2em ;
  margin-right: 2em }

pre.code .ln { color: grey; }*/ /* line numbers *//*
pre.code, code { background-color: #eeeeee }
pre.code .comment, code .comment { color: #5C6576 }
pre.code .keyword, code .keyword { color: #3B0D06; font-weight: bold }
pre.code .literal.string, code .literal.string { color: #0C5404 }
pre.code .name.builtin, code .name.builtin { color: #352B84 }
pre.code .deleted, code .deleted { background-color: #DEB0A1}
pre.code .inserted, code .inserted { background-color: #A3D289}

span.classifier {
  font-family: sans-serif ;
  font-style: oblique }

span.classifier-delimiter {
  font-family: sans-serif ;
  font-weight: bold }

span.interpreted {
  font-family: sans-serif }

span.option {
  white-space: nowrap }

span.pre {
  white-space: pre }

span.problematic {
  color: red }

span.section-subtitle {*/
  /* font-size relative to parent (h1..h6 element) *//*
  font-size: 80% }
*/

table {
    border: 1px solid #e0e0e0;
    background-color: #eee;
}
td {
    background-color: #fff;
}

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px }

table.docinfo {
  margin: 2em 4em }

table.docutils, table.docutils th, table.docutils td {
    border-collapse: collapse;
    border: 1px solid #DDD }

table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em }

table.footnote {
  border-left: solid 1px black;
  margin-left: 1px }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0 }
*/
/* "booktabs" style (no vertical lines) *//*
table.docutils.booktabs {
  border: 0px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}
table.docutils.booktabs * {
  border: 0px;
}
table.docutils.booktabs th {
  border-bottom: thin solid;
  text-align: left;
}

h1 code.docutils, h2 code.docutils, h3 code.docutils,
h4 code.docutils, h5 code.docutils, h6 code.docutils {
  font-size: 100% }

ul.auto-toc {
  list-style-type: none }*/
